<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.huhep.litepaltest">
    <uses-feature android:name="android.hardware.usb.host"/>
    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewRoomActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".NewChargeActivity"
            android:parentActivityName=".ChargeManageActivity">

        </activity>
        <activity android:name=".ChargeManageActivity"
            android:parentActivityName=".MainActivity">

        </activity>
    </application>

</manifest>